#header {
    position: absolute;
    top: 1px;
    font-family: 'Yatra One';
    color: rgba(92, 217, 192, 0.667);
}


nav {
    font-family: 'Lobster Two';
    font-size: 25px;
    padding: 10px;
    width: 65px;
}
#history{
    border: 2px solid bisque;
    padding: 5px;
}
#poem {
    border: 2px solid bisque;
    padding: 5px;
}
#famous{
    border: 2px solid bisque;
    padding: 5px;
}
#food {
    border: 2px solid bisque;
    padding: 5px;
}



body {
    background-color: mintcream;
    font-size: 30px;
}

a {
    text-decoration: none;
}
a:hover {
    color: orange;
}

h2 {
    font-family:'Moirai One';
    font-size: 40px;
    color: lightgreen;
    text-align: center;
}

h3 {
    color: rgba(246, 189, 197, 0.68);
    font-family: 'Lobster Two';
    font-size: 20px;
    border: 3px solid white;
    padding: 10px;
    text-align: center;
}

#list {
    font-family: 'Roboto';
    font-size: 15px;
}

label {
    font-family: 'Roboto';
    color: black;
    font-size: 15px;
}

#cat-poem {
    width: 165px;
    border: 5px groove whitesmoke;
    display: block;
    margin-left: auto;
    margin-right:auto;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table {
    font-family: 'Roboto';
    font-size: 12px;
}


#cat-facts {
    background-color: rgb(255, 127, 191);
    font-style: italic;
}

#cat-link {
    background-color: transparent;
    font-family: 'Roboto';
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    padding: 25px;
}

#garfield-cat {
    background-color: white;
}

#felix-cat {
    background-color: white;
}

#cheshire-cat {
    background-color: white;
}

.first-sentence {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

p {
    background-color: rgba(211, 211, 211, 0.256);
    font-family: 'Roboto';
    font-size: 15px;
    padding: 10px;
}

#logo {
    width: 220px;
    height: 220px;
}

#garfield {
    margin-right: 15px;
    width: 30px;
    border: 2px dotted grey;
}

#felix {
    margin-right: 15px;
    width: 30px;
    border: 2px dotted grey
}

#cheshire {
    margin-right: 15px;
    width: 30px;
    border: 2px dotted grey
}

#container {
    margin: auto;
    width: 400px;
    border: 5px solid lightcyan;
    border-top: 10px solid lavender;
    border-bottom: 10px solid lavender;
    padding: 15px;
}